//Main styles

.clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.container{
  width: 100%;
  height: 100%;
  max-width: 1186px;
  padding: 0 10px;
  margin: auto;
  .clearfix;
}

.wrapper{
  width: 100%;
  padding-bottom: 710px;
  height: 100%;
}

.footer{
  width: 100%;
  height: 710px;
  margin-top: -710px;
}

.pseudo-button.orange-button{
  display: flex;
  padding: 0 27px;
  width: 214px;
  height: 64px;
  border-radius: 32px;
  align-items: center;
  justify-content: space-between;
  i{
    font-size: 40px;
  }
  .normal_text_big{
    font-size: 26px;
    font-weight: 500;
  }
  .normal_small_text{
    font-size: 14px;
    font-weight: 400;
  }
}

.info-block{
  height: 710px;
  .container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    .right-part{
      h2{
        color: @orange;
        font-size: 28px;
        font-family: @font_style;
        line-height: 34px;
        margin-bottom: 120px;
        margin-top: 35px;
        @media screen and (max-width: @main_breakpoint){
          font-size: 17px;
          line-height: 1.5em;
          margin-bottom: 0;
          text-align: center;
        }
      }
      .points-list{
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          height: 100px;
          img{
            max-width: 45px;
            margin-right: 40px;
          }
          .text{
            font-size: 18px;
            color: @black;
            line-height: 28px;
          }
        }
      }
    }
  }
  .relative_block-container{
    width: 100%;
    height: 100%;
    position: relative;
    .absolute-images{
      position: absolute;
      &.first-picture{
        top: 67px;
        right: 0;
        z-index: 1;
      }
      &.second-picture{
        top: 402px;
        right: 55px;
        z-index: 3;
      }
      &.third-picture{
        top: 190px;
        left: 20px;
        z-index: 2;
      }
    }
  }
}

[isNeedAnimation ~= "true"]{
  opacity: 0;
  &.animated{
    opacity: 1;
  }
}

@media screen and (max-width: @main_breakpoint){
  .small-dn{
    display: none;
  }
}

//imports

@import "footer";
@import "header";
@import "variables";
@import "reset";
@import "main-page";
@import "services";
@import "sign-up";
