.top_block_main_page{
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background: url("../images/main-top-block-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 60%;
}